{% extends 'base.html.twig' %}

{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block body %}
<style>
    .settings-table td:first-child {
        padding-right: 20px;
    }
</style>

<h1>{% trans %}Settings{% endtrans %}</h1>

<table class="settings-table">
    <tr>
        <td>{% trans %}Username{% endtrans %}</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>{% trans %}Username{% endtrans %}</td>
        <td>{{ user.name | trans }}</td>
    </tr>
    <tr>
        <td>{% trans %}redmine token{% endtrans %}</td>
        <td>
            {% if user.token %}
                <span style="color: green;">{{ user.token }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{% trans %}external redmine token{% endtrans %}</td>
        <td>
            {% if user.externalRedmineToken %}
                <span style="color: green;">{{ user.externalRedmineToken }}</span>
            {% endif %}
        </td>
    </tr>
</table>

<br>
<h4>{% trans %}Update external redmine token{% endtrans %}</h4>
<p>
    <a target="_blank" href="{{ externalRedmineUrl }}">{{ externalRedmineUrl }}</a>
</p>
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
{{ form(form) }}

{% endblock %}
