{% extends 'base.html.twig' %}

{% block title %}{% trans %}Clone issue{% endtrans %}{% endblock %}

{% block body %}
<style>
    .issue-table td:first-child {
        padding-right: 20px;
    }
</style>

{% if newIssue %}
    {% if newIssue.url is defined %}
        <p style="color: green;">
            {% trans %}Создана задача{% endtrans %} <a target="_blank" href="{{ newIssue.url }}">#{{ newIssue.id }} {{ issue.subject }}</a>
        </p>
    {% else %}
        <p style="color: red;">
            {% trans %}Произошла ошибка{% endtrans %} #{{ newIssue.status }} {{ newIssue.error }}
        </p>
    {% endif %}
{% endif %}
{% if issue %}
    <div class="card">
        <div class="card-header">
            <table class="issue-table">
                <tr>
                    <td colspan="2">
                        <b>
                            <a target="_blank" href="{{ issue.url }}">#{{ issue.id }} {{ issue.subject }}</a>
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>{% trans %}status{% endtrans %}</td>
                    <td>{{ issue.status.name }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Project{% endtrans %}</td>
                    <td>{{ issue.project.name }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Tracker{% endtrans %}</td>
                    <td>{{ issue.tracker.name }}</td>
                </tr>
                <tr>
                    <td>{% trans %}priority{% endtrans %}</td>
                    <td>{{ issue.priority.name }}</td>
                </tr>
                <tr>
                    <td>{% trans %}author{% endtrans %}</td>
                    <td>{{ issue.author.name }}</td>
                </tr>
                <tr>
                    <td>{% trans %}assigned_to{% endtrans %}</td>
                    <td>{{ issue.assigned_to.name }}</td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <pre>
                {{
                    issue.description|length > 500 ?
                    issue.description|slice(0, 500) ~ '...' :
                    issue.description
                }}
            </pre>
        </div>
    </div>
{% endif %}

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<br>

{{ form_start(form) }}

    {% if form.issue.vars.value %}
        <div style="display: none;">
            {{ form_row(form.issue) }}
        </div>
        {{ form_row(form.tracker) }}
        {{ form_row(form.project) }}
        {{ form_row(form.status) }}
        {{ form_row(form.employer) }}
    {% else %}
        {{ form_row(form.issue) }}
        <div style="display: none;">
            {{ form_row(form.tracker) }}
            {{ form_row(form.project) }}
            {{ form_row(form.status) }}
            {{ form_row(form.employer) }}
        </div>
    {% endif %}

    {{ form_row(form.submit) }}

{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sync') }}
{% endblock %}